<div class="modal-header dialog-header-error">
    <h4 class="modal-title"><span class="glyphicon glyphicon-stats"></span>&nbsp;Detalle de zona por día</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Detalle de zona por la fecha seleccionada {{detailZonaByDay.datos.desde | date: "dd/MM/yyyy"}}</div>
				<div class="panel-body">
					<div class="row">
	                    <div class="col-md-3">
	                        <h2>ZONA: <span class="label label-danger">{{detailZonaByDay.datos.zona.zona}}</span></h2>
	                    </div>
	                    <div class="col-md-6">
	                        <div class="row">
	                            <div class="col-md-12 text-center">
	                                <span>{{detailZonaByDay.datos.zona.referencia_inicial}} / {{detailZonaByDay.datos.zona.referencia_final}}</span>
	                            </div>
	                        </div>
	                        <div class="row">
	                            <div class="col-md-12 text-center">
	                                <b>{{detailZonaByDay.datos.zona.tipo_zona_id.tipo_zona}}</b>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-md-3">
	                        <div class="form-group text-center">
	                            <label>Límite Máximo Permitido (LMP) : </label>
	                            <input type="text" class="form-control text-center" placeholder="LMP" ng-value="detailZonaByDay.datos.turno.niveles[2].desde + ' dB'" readonly>
	                        </div>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col-md-3">
	                        <label>Desde : </label>
	                        <input type="text" class="form-control text-center" placeholder="Desde" ng-value="detailZonaByDay.datos.desde | date: 'dd/MM/yyyy'" readonly />
	                    </div>
	                    <div class="col-md-3">
	                        <label>Hasta : </label>
	                        <input type="text" class="form-control text-center" placeholder="Hasta" ng-value="detailZonaByDay.datos.hasta | date: 'dd/MM/yyyy'" readonly />
	                    </div>
	                    <div class="col-md-3">
	                        <label>Turno : </label>
	                        <input type="text" class="form-control text-center" placeholder="Turno" ng-value="detailZonaByDay.datos.turno.turno" readonly />
	                    </div>
	                    <div class="col-md-3">
	                        <label>Acción : </label>
	                        <button type="button" class="btn btn-success btn-block" ng-click="detailZonaByDay.showDots()" ng-disabled="detailZonaByDay.promedio == null"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Visualizar puntos</button>
	                    </div>
	                </div>
	                <div class="row" style="margin-top: 10px;" ng-show="detailZonaByDay.promedio != null">
	                	<div class="col-md-3 text-center">
	                		<div class="price-block">
								<div class="plan plan-danger">Promedio</div>
								<h1 class="hourly">{{detailZonaByDay.promedio | number:1}} dB</h1>
							</div>
	                	</div>
	                	<div class="col-md-2">
	                		<div class="row">
	                			<div class="col-md-12">
	                				<div class="price-block">
										<div class="plan plan-primary">Límite</div>
										<h1 class="hourly">{{detailZonaByDay.datos.turno.niveles[2].desde}} dB</h1>
									</div>
	                			</div>
	                		</div>
	                		<div class="row">
	                			<div class="col-md-12">
	                				<div class="price-block">
										<div class="plan plan-warning">Porcentaje</div>
										<h1 class="hourly">{{detailZonaByDay.porcentaje | number:0}} %</h1>
									</div>
	                			</div>
	                		</div>
	                	</div>
	                	<div class="col-md-3">
	                		<ul class="semaforo rojo">
								<li class="shadow{{(detailZonaByDay.semaforo == 'ALTO') ? ' active blink' : ''}}"></li>
							</ul>
							<h2 style="float: left; margin-top: 30px !important; margin-left: 20px !important">ALTO</h2>
							<div style="clear:both;"></div>
							<ul class="semaforo naranja">
								<li class="shadow{{(detailZonaByDay.semaforo == 'MEDIO') ? ' active blink' : ''}}">
							</ul>
							<h2 style="float: left; margin-top: 30px !important; margin-left: 20px !important">MEDIO</h2>
							<div style="clear:both;"></div>
							<ul class="semaforo verde">
								<li class="shadow{{(detailZonaByDay.semaforo == 'BAJO') ? ' active blink' : ''}}">
							</ul>
							<h2 style="float: left; margin-top: 30px !important; margin-left: 20px !important">BAJO</h2>
	                	</div>
	                	<div class="col-md-4">
	                		<label>Efectos nocivos : </label>
	                		<textarea class="form-control" rows="13" placeholder="Efectos nocivos." readonly>{{(detailZonaByDay.semaforo == 'ALTO') ? 'La sordera es la dificultad o la imposibilidad de usar el sentido del oído debido a una pérdida de la capacidad auditiva parcial (hipoacusia) o total (cofosis), y unilateral o bilateral. Así pues, una persona sorda será incapaz o tendrá problemas para escuchar. Ésta puede ser un rasgo hereditario o puede ser consecuencia de una enfermedad, traumatismo, exposición a largo plazo al ruido, o medicamentos agresivos para el nervio auditivo.' : 'No presenta efectos nocivos.'}}</textarea>
	                	</div>
	                </div>
	                <div class="row" ng-show="detailZonaByDay.promedio == null">
	                	<div class="col-md-12 text-center">
	                		<h2>No se encontraron datos para mostrar.</h2>
	                	</div>
	                </div>
				</div>
				<div class="panel-footer">
					Datos extraídos en tiempo real.
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="detailZonaByDay.cancel()">Cerrar</button>
</div>